.super-mario {
    width: 200px;
    position: absolute;
    border: 1px solid red;

  }
  
.goomba {
    position: absolute;
    width: 100px;
    top: 390px;
    border: 1px solid black;
  }
  
.baloon {
    position: absolute;
    left: 300px;
    border: 1px solid blue;  
  }
  
.speach {
    font-size: 22px;
    position: absolute;
    left: 310px;
    top: 132px;
    z-index: 200;
  }
  
.bowser {
    position: absolute;
    width: 200px;
    border: 1px solid green;
    left: 602px;
    z-index: 1;
    top: 279px;
}